@import "./Partials/colores";
@import "./Partials/textos";
@import "./Partials/cards";

.navbar-nav .nav-link {
    color: #000000;
    font-family: $estilo-fuente-Mplus;

    .navbar-nav .nav-link:hover {
        color: #7f7f7f;
    }

    .navbar-toggler-icon {
        color: $color-secundario;
    }
}

/*.bg-body-tertiary {
    background-color: rgb(0, 255, 85);
}*/

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(./Img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-title {
        width:100%;
        margin-bottom: 10px;
        font-family: $estilo-fuente-Forum;
        color: $color-principal;
        font-size: 5rem;
        font-weight: 300;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        width: 50%;
        color: $color-principal;
        font-family: $estilo-fuente-Mplus;
    }
}

.sub-title-home {
    font-family: $estilo-fuente-Forum;
    font-size: $estilo-tamaño-subtitulos;
    text-align: center;
    margin: 40px 0px 40px 0px;

}


.cards-index {
    display: flex;

    .card-title {
        font-family: $card-title;
        font-size: $size-card-title;
    
    }
    
    .card-text {
        font-family: $card-text;
        font-size: $size-card-text;
    }

    .btn-primary {
        background-color: $color-secundario;
        border-color: $color-secundario;
    }
}


.footer {
    background-color: $color-principal;
    font-family: $estilo-fuente-Mplus;
    font-size: 14px;
    margin-top: 80px;
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 1rem;

    .text-footer {
        color: $color-secundario;
        font-family: $estilo-fuente-Forum;
    }

    .redes-sociales {
        margin: 20px 0px 20px 0px;
    }
}



/*-------------------------- ABOUT -------------------------- */


.sobre-nosotros {
    margin-top: 60px;

    .about-title {
        font-family: $estilo-fuente-Forum;
        font-weight: 400;
        font-size: 6rem;
    }
    
    .about-text {
        font-family: $estilo-fuente-Mplus;
        text-align: left;
    }
    
    .img-aboutus {
        max-width: 100%;
        height: auto;
    }
}



/*.col {
    margin: 10px;
}*/

.box-aboutus {
    height: 20rem;
    align-content: center;
    border-radius: 16px;
    margin: 60px 10px 60px 10px;
    padding: 20px;
    background-color: $color-terciario;

    .box-title {
        font-family: $estilo-fuente-Forum;
        font-size: 50px;
    }
    
    .box-text {
        font-family: $estilo-fuente-Mplus;
    }
}

/*-------------------------- PRODUCTS -------------------------- */

.sub-menu {
    margin: 40px;
    padding: 20px;
    font-family: $estilo-fuente-Forum;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    .btn-primary {
        font-family: $estilo-fuente-Mplus;
        background-color: $color-secundario;
        border-color: $color-secundario;
    }

}

.title-sub-product {
    font-family: $estilo-fuente-Forum;
    margin: 60px;
    font-size: 2rem;
}

.card {
    border: 1px solid black;

    .card-title {
        font-family: $estilo-fuente-Forum;
        font-size: $size-card-title;
        padding: 0px 0px 1px 2px;
    }
    
    .card-text {
        font-family: $estilo-fuente-Mplus;
        font-size: $size-card-text;
        padding: 0px 0px 1px 2px;
    }

    .btn-primary {
        font-family: $estilo-fuente-Mplus;
        background-color: $color-secundario;
        border-color: $color-secundario;
    }

}


/*-------------------------- GALLERY -------------------------- */

.text-overlay {
    color: $color-secundario;
    font-family: $estilo-fuente-Forum;
    font-size: 4rem;
    margin: 60px;
}


/*-------------------------- CONTACT US-------------------------- */

.form {
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 20px 80px 20px 80px;
}

.contact-us {
    background-color: $color-principal;
    margin: 40px;
    padding: 60px;

    .contact-us-title {
        font-family: "Forum", serif;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
    }
    
    .contact-us-text {
        font-family: "M PLUS 1p", sans-serif;
        font-size: 16px;
        text-align: center;
    }

}
